@charset "UTF-8";

@page {
    size: A4;
}

html, body {
    width: 797px;
    color: #333;
    font-family: "Microsoft JhengHei", Arial, "微軟正黑體", Helvetica, serif;
    font-size: 12px;
    line-height: 140%;
}

h1 {
    color: red;
}














